* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f4f8;
}

header {
    background-color: #ffffff;
    padding: 20px ;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;  
    color: #007bff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.get-started-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.email-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.email-form input {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 300px;
}

.email-form button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    background-color: #ff5722;
    color: #ffffff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.email-form button:hover {
    background-color: red;
}
.features {
    display: flex;
    justify-content: space-around;
    padding: 50px ;
    background-color: #ffffff;
    margin: auto;
    width: 80%;
    border-radius: 10px;
}
.feature-item {
    text-align: center;
}

